.DS_Store
*.log

#python
python/paiza/*

#go
golang/paiza/*

# js
node_module
typings

# c
a.out
a.out*

# haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

# scala
*.class
scala/paiza/*
scala/target/**/*

# intelliJ files
.iml
.idea/
