<!doctype html>
<html ng-app="app">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
      <p>{{1 + 1}}</p>
      <div ng-init="variables=[1, 2, 3]" ng-if="yourName">
        <li ng-repeat="variable in variables">
        <p>{{variable}}</p>
      </li>
    </div>
      <input type="text" ng-model="hoge" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{hoge}}!</h1>
    </div>
    <div ng-controller="MyController">
      <div ng-cloak>
      {{message}}
      {{hoge}}
      <p ng-bind="hoge"></p>
      </div>
      <button ng-click="action($event)">push</button>
      
    </div>
    <input type="checkbox" ng-model="check">
    <div ng-if="check">
      ふが
    </div>
  </body>
</html>
